version: '3.8'

services:
  echo-server:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - REDIS_URI="redis:6379"

  redis:
    image: "redis:alpine"