version: '3.8'
name: arithfi-periphery

services:
  rest-api:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    command: ./rest-api/main
    restart: always
#  transferLogsRetrieve:
#    build: .
#    env_file:
#      - .env
#    command: ./workers/transferLogsRetrieve
#    restart: always
#  transferLogsAnalysis:
#    build: .
#    env_file:
#      - .env
#    command: ./workers/transferLogsAnalysis
#    restart: always
#  tokenholderSnapshotCreate:
#    build: .
#    env_file:
#      - .env
#    command: ./workers/tokenholderSnapshotCreate
#    restart: always
#  pancakeswapSnapshotCreate:
#    build: .
#    env_file:
#      - .env
#    command: ./workers/pancakeswapSnapshotCreate
#    restart: always
  getForexKline:
    build: .
    env_file:
      - .env
    command: ./workers/getForexKline
    restart: always