version: '3.8'
name: arithfi-periphery

services:
  api-server:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - REDIS_URL="redis:6379"

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
